build/
tmp/
*.hap
*.hsp
*.hnp
*.app
scripts/common/sign/.ohos
scripts/common/sign/build-profile.json5
texstudio_harmony/entry/libs
texstudio_harmony/node_modules
texstudio_harmony/oh_modules
texstudio_harmony/local.properties
texstudio_harmony/.idea
texstudio_harmony/**/build
texstudio_harmony/.hvigor
texstudio_harmony/.cxx
texstudio_harmony/.clangd
texstudio_harmony/.clang-format
texstudio_harmony/.clang-tidy
texstudio_harmony/**/.test
texstudio_harmony/dependencies
texstudio_harmony/oh-package-lock.json5
texstudio_harmony/entry/oh-package-lock.json5
additional-packages/
scripts/common/libtexstudio-harmonyos/
